:root{
        --fundo: #B0E0E6;
        --cartao-frente: #008080;
        --destaque: #00ffea;
        --preto: #000000;
        --branco: #ffffff;

}

body{
    background-color: var(--fundo);
}